* {
  box-sizing: border-box;
}
:root {
  --header-bg: #10375c;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
}
.btn {
  display: inline-block;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-family: Sora;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.75;
  min-width: 205px;
  border-radius: 30px;
  background: #2e80ce;
  padding: 15px 46px;
  opacity: 0.9;
}
/* common */
.container {
  width: 1170px;
  margin: 0 auto;
}
/*  header */
header {
  background: #10375c;
  min-height: 100vh;
  padding-top: 30px;
}
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__list {
  display: flex;
}
.navbar__link,
.header__action--login {
  display: inline-block;
  padding: 8px 21px;
  color: #c9d2da;

  font-size: 1.6rem;

  font-weight: 300;
  line-height: 1.75;
  text-decoration: none;
}
.navbar__link:hover,
.navbar__link--active {
  text-shadow: 0.5px 0 0 currentColor;
  color: #fff;
}
.navbar__link--active::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
  position: relative;
  right: 8px;
  top: -3px;
}
.header__action--signup {
  min-width: 144px;
  line-height: 44px;
  padding: 5px 20px;
  font-size: 1.6rem;
}
.header__action--login {
  margin-right: 7px;
}
.hero {
  display: flex;
  align-items: center;
  padding-top: 76px;
}
.hero__content {
  /* display: flex;
  flex-direction: column; */
  width: 44%;
}
.hero__title {
  color: #fff;
  font-size: 70px;
  font-weight: 600;
  line-height: 1.14;
  letter-spacing: -1.4px;
}
.hero__desc {
  color: #c9d2da;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67;
  margin-top: 22px;
}
.hero__row {
  display: flex;
  column-gap: 38px;
  align-items: center;
  margin-top: 38px;
}
.hero__phone {
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67;
  display: flex;
}
.hero__media {
  flex: 1;
}
.hero__img {
  border-radius: 6px;
  object-fit: cover;
}
.hero__images {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.hero__img--large {
  width: 330px;
  height: 540px;
  margin-right: -6px;
  z-index: 1;
}
.hero__img--small {
  width: 210px;
  height: 410px;
}
.service {
  padding: 170px 0 0;
}
.section__heading {
  text-align: center;
  color: #10375c;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -1px;
}
.section__desc {
  width: 468px;
  text-align: center;
  margin: 18px auto 0;
  color: #575f66;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67;
}
.service__row {
  display: flex;
  margin-top: 70px;
  justify-content: space-between;
  align-items: center;
}
.service__image {
  width: 570px;
  height: 570px;
  border-radius: 12px;
  object-fit: cover;
}
.service__list {
  width: 470px;
  /* height: 499px; */
}
.service-item {
  display: flex;
  padding: 21px;
  border-radius: 10px;
  background: #fff;
}
.service-item:hover {
  box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.05);
  position: relative;
}
.service-item__icon {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background: #eff6fd;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-right: 19px;
}
.service-item:hover .service-item__icon {
  color: #fff;
  background: #2e80ce;
}
.service-item__heading {
  color: #10375c;
  font-size: 1.8reml;
  font-weight: 600;
  line-height: normal;
}
.service-item__desc {
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75;
  width: 351px;
  margin-top: 8px;
}
.service__btn {
  margin-top: 55px;
}
.work {
  background: #f6fbff;
  margin-top: 170px;
  padding: 100px 0;
}
.work-heading {
  color: #10375c;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -1px;
}
.work-desc {
  color: #575f66;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67;
  width: 468px;
  margin-top: 18px;
}
.work__cardlist {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 86px;
  gap: 30px;
}
.work__carditem {
  padding: 43px;
  border-radius: 4px;
  background: #fff;
  border: 16px solid #eaf6ff;
  transition: 0.05s;
}
.work__carditem:hover {
  border-color: #2e80ce;
  transform: translateY(-16px);
}

.work__title {
  color: #10375c;
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 1.38;
  margin-top: 18px;
}
.work__script {
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75;
  margin-top: 28px;
}
.work__btn {
  display: inline-block;
  text-decoration: none;
  color: #2e80ce;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
  margin-top: 18px;
}
svg.icon {
  width: 72px;
  height: 72px;
  color: #10375c;
}
.about-us {
  padding: 170px 0 291px;
  /* background: cyan; */
}
.about-us__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 130px;
  align-items: center;
}
.about-us__media {
  position: relative;
  width: 49%;
  display: flex;
}
.about-us__media--bigger {
  width: 512px;
  height: 370px;
  object-fit: cover;
  border-radius: 6px;
  box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.07);
}
.about-us__media--smaller {
  width: 332px;
  height: 370px;
  object-fit: cover;
  border-radius: 6px;
  position: absolute;
  left: 238px;
  top: 121px;
}
.about-us__right {
  width: 40%;
}
.about-us__heading {
  width: 470px;
  color: #10375c;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -1px;
}
.about-us__desc {
  width: 468px;
  color: #575f66;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67;
  margin-top: 18px;
}
.about-us__btn {
  margin-top: 38px;
}
.dentist__btn {
  display: block;
  width: fit-content;
  margin: 38px auto 0;
}
.dentist__cardlist {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
  margin-top: 70px;
}
.dentist__img {
  width: 270px;
  height: 318px;
  border-radius: 6px;
  object-fit: cover;
}
.cap1 {
  color: #10375c;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
}
.cap2 {
  color: #575f66;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.85;
}
.carousel {
  display: flex;
  column-gap: 18px;
  justify-content: center;
  margin-top: 38px;
}
.carousel__next {
  width: 36px;
  height: 36px;
  border-radius: 36px;
  border-color: transparent;
  background: #2e80ce;
}
.carousel__previous {
  width: 36px;
  height: 36px;
  border-radius: 36px;
  border: 1px solid #575f66;
}

.cta__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1170px;
  height: 427px;
  border-radius: 4px;
  background: #2e80ce;
  padding: 75px 70px;
  gap: 160px;
  margin-top: 170px;
  position: relative;
}
.cta__image {
  width: 24%;
  height: auto;
}
.cta__img {
  width: 284px;
  height: 522px;
  object-fit: cover;
  position: absolute;
  top: -95px;
}
.cta__desc {
  width: 53%;
}
.cta__heading {
  color: #fff;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -1px;
  width: 489px;
  text-align: left;
}
.cta__descrip {
  color: #fff;
  font-size: 1.8rem;
  line-height: 1.67;
  text-align: left;
  width: 586px;
  margin-top: 18px;
}
.cta__app {
  display: flex;
  gap: 28px;
  margin-top: 38px;
  justify-content: flex-start;
}
.blog {
  display: flex;
  margin-top: 170px;
}
.blog__content {
  display: grid;
  grid-template-columns: 470px 570px;
  column-gap: 130px;
}
.text-heading {
  text-align: left;
}

.blog__btn {
  display: flex;
  color: #10375c;
  font-family: Inter;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.56;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
  margin-top: 28px;
}

.blog__carousel {
  justify-content: flex-start;
  margin-top: 28px;
}
.blog__card {
  display: flex;
  gap: 30px;
}
.blog__card-first,
.blog__card-second {
  width: 270px;
  height: 375px;
  border-radius: 12px;
  border: 1px solid #e8ebee;
  background: #fff;
  padding: 190px 22px 22px;
}
.blog__card-first:hover,
.blog__card-second:hover {
  border: transparent;
  box-shadow: 0 18px 50px 0 rgba(0, 0, 0, 0.05);
}
.blog__card-title {
  color: #10375c;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.62;
}
.blog__card-desc {
  color: #575f66;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.71;
  margin-top: 10px;
}

.blog__card-btn {
  color: #10375c;
  font-size: 1.4rem;
  font-weight: 400;
  text-decoration: none;
  background: transparent;
  border: none;
  margin-top: 12px;
  padding: 0;
}
.blog__card-first:hover .blog__card-btn,
.blog__card-second:hover .blog__card-btn {
  color: #2e80ce;
}
.appointment {
  margin-top: 170px;
}
.appointment__content {
  background: #f6fbff;
  padding: 100px 178px;
  display: flex;
  flex-direction: column;
  align-content: center;
}
.appointment-heading::after {
  content: "";
  display: block;
  width: 136px;
  height: 2px;
  background: #2e80ce;
  margin: 18px auto 0;
}
.appointment-desc {
  width: 617px;
  margin-top: 18px;
}
.appointment-btn {
  margin: 38px auto 0;
}
.footer {
  background: #10375c;
  height: auto;
  padding: 100px 0 42px;
}
.footer__content {
  display: flex;
  justify-content: space-between;
  /* gap: 78px; */
}
.footer__logo {
  display: flex;
  flex-direction: column;
  width: 29%;
  height: auto;
  gap: 21px;
}
.footer__desc {
  color: #a9b3bb;
  font-family: "Open Sans";
  font-size: 1.6rem;
  font-style: normal;
  line-height: 1.75;
  width: 336px;
}
.footer__support {
  width: 11.5%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer__btn {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer__title {
  color: #fff;
  font-family: "Open Sans";
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75;
}
.footer-btn {
  color: #a9b3bb;
  font-family: "Open Sans";
  font-size: 1.4rem;
  line-height: 1.86;
  text-decoration: none;
  white-space: nowrap;
}
.footer__account {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.account-top,
.account-bottom,
.support-bottom,
.support-top {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.icon-list {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
.footer-subcribe {
  display: flex;
  flex-direction: column;
  margin-top: 28px;
  gap: 20px;
}
form {
  display: flex;
  gap: 12px;
  justify-content: center;
  margin-top: 10px;
}
.input-form {
  color: #9ca8b1;
  font-family: "Open Sans";
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.86;
  background: none;
  width: 212px;
  height: 46px;
  border-radius: 4px;
  border: 1px solid #406181;
  padding: 10px 83px 10px 10px;
}

.subcribe {
  width: 108px;
  height: 46px;
  border-radius: 4px;
  background: #2e80ce;
  border-color: transparent;
  color: #fff;
  font-family: "Open Sans";
  font-size: 1.4rem;
  line-height: 1.85;
}

.footer__authorise {
  color: #aab3ba;
  text-align: center;
  font-family: "Open Sans";
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.86;
}
.footer__authorise::before {
  content: "";
  display: block;
  width: 1170px;
  height: 1px;
  background: #406181;
  margin: 28px auto;
}
