* {
  box-sizing: border-box;
}
:root {
  --header-bg: #10375c;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
}
.btn {
  display: inline-block;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-family: Sora;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.75;
  min-width: 205px;
  border-radius: 30px;
  background: #2e80ce;
  padding: 15px 46px;
  opacity: 0.9;
}
/* common */
.container {
  width: 1170px;
  margin: 0 auto;
}
/*  header */
header {
  background: #10375c;
  min-height: 100vh;
  padding-top: 30px;
}
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__list {
  display: flex;
}
.navbar__link,
.header__action--login {
  display: inline-block;
  padding: 8px 21px;
  color: #c9d2da;

  font-size: 1.6rem;

  font-weight: 300;
  line-height: 1.75;
  text-decoration: none;
}
.navbar__link:hover,
.navbar__link--active {
  text-shadow: 0.5px 0 0 currentColor;
  color: #fff;
}
.navbar__link--active::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
  position: relative;
  right: 8px;
  top: -3px;
}
.header__action--signup {
  min-width: 144px;
  line-height: 44px;
  padding: 5px 20px;
  font-size: 1.6rem;
}
.header__action--login {
  margin-right: 7px;
}
